<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <!--<httpRuntime maxRequestLength="20480" executionTimeout="180" />-->
    </system.web>
  <appSettings>
    <!--CUBIGEST PRUEBAS-->
    <add key="Cnn" value="Data Source=192.168.1.195;Initial Catalog=CubigestPruebas;Integrated Security=False;User ID=cubigest;Password=cubiplop;Connect Timeout=0;Encrypt=False;Packet Size=4096" />
    <!--CUBIGEST PRODUCCION-->
    <!--<add key="Cnn" value="Data Source=192.168.1.195;Initial Catalog=Cubigest;Integrated Security=False;User ID=cubigest;Password=cubiplop;Connect Timeout=0;Encrypt=False;Packet Size=4096" />-->
    <!--<prueba de="" cambio=""></prueba>-->
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FacturacionSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.195:83/WS/Facturacion.asmx"
        binding="basicHttpBinding" bindingConfiguration="FacturacionSoap"
        contract="PX_Facturacion.FacturacionSoap" name="FacturacionSoap" />
    </client>
  </system.serviceModel>
</configuration>
